.activity-card {
    /* Add shadows to create the "card" effect */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
    
    /*width: auto;
    height: fit-content;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    text-decoration: none;
    color: inherit;
    
}

.activity-picture-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.activity-fit-picture {
    border-radius: 15px 15px 0% 0%;
    width: 100%;
    min-height: 100%;
    object-fit:cover;
}
.activity-card-title {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    
}

@media all and (max-width: 768px){
    .activity-card {
        max-height: 462px;
        margin-bottom: 20px;
    }
    .activity-fit-picture {
        border-radius: 15px 15px 0% 0%;
        width: 100%;
        min-height: 88%;
        
    }
}
    
