.switch-container {
    display: flex;
    border-radius: 50px;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    max-height: 30px;
}
.switch-icon-container {
    background-color: #deebff;
    border-radius: 70px;
    padding: 10px;
    height: 14px;
    color: #0065fc;
    position: relative;
    right: 3px;
    bottom: 2px;
    
}
.switch-text-container {
    margin: 12px;
    font-size: 12px;
    position: relative;
    right: 6px;
    bottom: 3px;
    font-weight: bold;
}
.switch-container:hover {
    background-color: #0065fc;
}