.switch-container {
    display: flex;
    border-radius: 50px;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    max-height: 34px;
    margin: 10px;
    min-width: fit-content;
}
.switch-icon-container {
    background-color: #deebff;
    border-radius: 90px;
    padding: 10px;
    height: 18px;
    color: #0065fc;
    position: relative;
    right: 3px;
    bottom: 2px;
    
}
.switch-text-container {
    margin: 15px;
    font-size: 14px;
    position: relative;
    right: 6px;
    bottom: 5px;
    font-weight: bold;
}
.switch-container:hover .switch-icon-container{
    color:#deebff;
    background-color: #0065fc;

}
.switch-container:hover{
    border-color: #a4abb4e7;
    
}