#bloc_page {
    padding-left: 60px;
}
header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
*{ 
    margin: 0%; 
}
nav ul {
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 25px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

.nav_selected {
    
    border-top: solid #0063fc;
    border-spacing: 40px;
    color: #0063fc;
}

.filter_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.filter_row .switch-container {
    margin-left: 3%;
}

.info-sentence-row{
    display: flex;
    align-items: center;
    
}

.info-sentence-text{
    padding-left: 0.5%;
    
}

.fa-info-circle{
    color: #0063fc;
}

.hebergement-popular-row{
    display: flex;
    
}

.hebergement-popular-basic-prop{
    background-color: #f2f2f2;
    border-radius: 10%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 4%;

}

.hebergement-container{
    flex: 2;
    
}
.popular-container{
    flex: 1
}
#popular-title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer {
    padding-left: 60px;
    background-color: #f2f2f2;
    display: flex;
    list-style-type: none;
    
}
.footer_bloc {
    padding-right: 0px;
    width: 25%;
}
.footer_bloc h3{
    font-size: 16px;
}
.listes_footer{
    padding: 0;
    list-style-type: none;
}

.listes_footer a {
    font-size: 12px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

