
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

*{ 
    margin: 0%;
    font-family: 'Raleway', sans-serif;
}

#bloc_page {
    margin-left: 3%;
    margin-right: 2%;
    
}

.spacer-hearder {
    padding-bottom: 50px;
}
.spacer-top-info {
    padding-bottom: 20px;
}
.spacer-hergement-popular {
    padding-bottom: 20px;
}
.spacer-end-section {
    padding-bottom: 50px;
}

/******************************************************************************************
                                Header
******************************************************************************************/
header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

#logo {
    padding-top: 30px;
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li
{
    padding-top: 40px;
    margin-right: 25px;
}

nav a
{
    font-size: 18px;
    color: #181818;
    margin-top: 40px;
    padding-bottom: 3px;
    margin: 15px;
    text-decoration: none;
}

.nav_selected {
    
    border-top: solid #0063fc;
    border-spacing: 40px;
    color: #fc8600;
}
.nav_selected a {
    
    color: #0063fc;
}
/******************************************************************************************
                                Form/selection section
******************************************************************************************/

.filter_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.filter_row .switch-container {
    margin-left: 3%;
}

.info-sentence-row{
    display: flex;
    align-items: center;
    
}

.info-sentence-text{
    padding-left: 0.5%;
    
}

.fa-info-circle{
    color: #0063fc;
}

/******************************************************************************************
                            Hebergement and popular section
******************************************************************************************/

.hebergement-popular-row{
    display: flex;
    
}

#hebergement-grid-wrapper{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 30px; */
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-between;
}

.hebergement-popular-basic-prop{
    background-color: #f2f2f2;
    border-radius: 15px;
    padding-top: 30px;
    
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 2%;
    
    justify-content: space-around;
    align-content: center;
    padding-bottom: 30px;
}

.hebergement-container{
    flex: 4;
    
}

#popular-list-wrapper{
    display: flex;
    flex-direction: column;
}


.popular-container{
    flex: 2
}

#popular-title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************************************************************************************
                                Tablette media query
******************************************************************************************/
@media all and (max-width: 992px){
    .hebergement-popular-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .hebergement-popular-basic-prop{
        width: auto;
    }
    #hebergement-grid-wrapper{
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
        row-gap: 30px; */
        
        display: flex;                       /* establish flex container */
        flex-wrap: wrap;                     /* enable flex items to wrap */
        justify-content: center;
    }

    .hebergement-container{
        background-color: #fff;
        
    }

    .hebergement-popular-row{
        display: flex;
        flex-direction: column;
    }
    .hebergement-container{
        margin-bottom: 30px;
        
    }
}

/******************************************************************************************
                                Activity section
******************************************************************************************/
.activity-section{
    display: flex;
    flex-direction: column;
    /*max-width: 90%;*/
}
.activity-row {

    /* display: grid; 
    width: 90%;
    max-height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px; */
    display: flex;
    flex-direction: row;
    max-height: 500px;
    justify-content: space-between;
    width: auto;
    
    
 }

.activity-column{
    /*flex-direction: column;*/
    margin-right: 3%;
     
}

.activity-column-spacer{
    height: 5%;
}

#activity-0 {
    height: 100%;
    
}
#activity-1 {
    
    height: 57.5%;
}

#activity-1 .activity-fit-picture{
    
    max-height: 84%;
}

#activity-2 {
    height: 37.5%;
    
}
#activity-2 .activity-fit-picture{
    
    max-height: 78%;
}
#activity-3 {
    height: 100%;
    
    
}
#activity-4 {
    height: 47.5%
    
}
#activity-4 .activity-fit-picture{
    
    max-height: 82%;
}

#activity-5 {
    height: 47.5%;
}   
#activity-5 .activity-fit-picture{
    max-height: 82%;
}

@media all and (max-width: 768px){
    .activity-row {

        /* display: grid; 
        width: 90%;
        max-height: 500px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px; */
        display: flex;
        flex-direction: column;
        max-height: none;
        justify-content: space-between;
        width: auto;
        
    }
    #activity-0 {
        height: 450px;
        
    }
    #activity-1 {
        
        height: 450px;
    }
    
    #activity-2 {
        height: 450px;
        
    }

    #activity-3 {
        height: 450px;
        
        
    }
    #activity-4 {
        height: 450px;
        
    }
    
    #activity-5 {
        height: 450px;
    }
}

/******************************************************************************************
                                Footer section
******************************************************************************************/
footer {
    padding-top: 40px;
    padding-left: 3%;
    background-color: #f2f2f2;
    display: flex;
    list-style-type: none;
    
}
.footer_bloc {
    padding-right: 0px;
    width: 33%;
}
.footer_bloc h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.listes_footer{
    padding: 0;
    list-style-type: none;
}
.listes_footer li{
    margin-bottom: 15px;
}

.listes_footer a {
    font-size: 16px;
    color: #181818;
    text-decoration: none;
}

